# files
*.pcd
*.las
*.osm
*.bag
*.zip
*.pyc
build.gradle
.catkin_workspace
.catkin_tools


# folders
/map_files


# weight
*.pth
*.pt
*.engine

# IDE
.vscode
.idea
.pyc

# colcon
build/
devel/
install/
logs/
log/
**/build
**/devel

