<launch>
    <node name="lane_detection_node" pkg="darkscnn_caffe" type="darkscnn_caffe_node" output="screen">
        <param name="model_path" value="$(find darkscnn_caffe)/data/deploy.prototxt" />
        <param name="weight_path" value="$(find darkscnn_caffe)/data/deploy.caffemodel" />
        <param name="confidence_threshold" value="0.95"/>
        <param name="alpha" value="0.75"/>
    </node>




</launch>
